[project]
	description = CVI / LabWindows Based Equipment Infrastructure
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexey Trifonov (ialexyi)
[access "refs/for/refs/*"]
	read = group user/Alexey Trifonov (ialexyi)
	push = group user/Alexey Trifonov (ialexyi)
	label-Code-Review = -2..+2 group user/Alexey Trifonov (ialexyi)
	label-Verified = -1..+1 group user/Alexey Trifonov (ialexyi)
	rebase = group user/Alexey Trifonov (ialexyi)
	removeReviewer = group user/Alexey Trifonov (ialexyi)
	submit = group user/Alexey Trifonov (ialexyi)
[access "refs/heads/*"]
	read = group user/Alexey Trifonov (ialexyi)
	create = group user/Alexey Trifonov (ialexyi)
	push = +force group user/Alexey Trifonov (ialexyi)
	pushMerge = group user/Alexey Trifonov (ialexyi)
[access "refs/tags/*"]
	push = group user/Alexey Trifonov (ialexyi)
	push = +force group user/Alexey Trifonov (ialexyi)
